.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdown_container {
    width: 200px;
  }

  .css-qbdosj-Input input{
    height: auto;
  }