.details_card{
    /* padding: 15px 15px; */
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    height: 500px;
    width: 70%;
    margin-top: 90px;
    /* margin-left: 40px; */
    margin-left: 220px;
    /* background-color: aqua; */
}

.main{
     /* background-color: aqua; */
    width:100%;
    /* height: 500px; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.heig{
    /* width: 60%; */
    height: 435px;
    display: flex;
} 

.dummy{
    /* background-color: aqua; */
    /* margin:auto; */
    display: flex;
    height: 80%;
    /* justify-content: center;
    align-items: center; */
    margin: 10px 60px;
}

.MuiCardCon{
    margin:auto;
}

.MuiCardHeader-content{
    text-align: center;
}